@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

@(Html.Kendo().Grid<KendoUIMvcApplication.Product>()
      .Name("Grid")
      .Columns(columns =>
      {
          columns.Bound(p => p.Id).Width(100);
          columns.Bound(p => p.ProductName);
          columns.Bound(p => p.UnitPrice);
          columns.Bound(p => p.UnitsInStock);
          columns.Command(c =>
          {
              c.Edit();
              c.Destroy();
          });
      })
      .ToolBar(tools =>
      {
          tools.Create();
      })
      .Editable(editable => editable.Mode(GridEditMode.PopUp))
      .Sortable()
      .Pageable()
      .Filterable()
      .DataSource(dataSource => dataSource
        .Ajax()
            .Model(model =>
            {
                model.Id(p => p.Id);
            })
            .Read(read => read.Url("api/Product").Type(HttpVerbs.Get))
            .Create(create => create.Url("api/Product").Type(HttpVerbs.Post))
            .Update(update => update.Url("api/Product").Type(HttpVerbs.Put))
            .Destroy(destroy => destroy.Url("api/Product").Type(HttpVerbs.Delete))
      )
)

<script>

$(function() {
    var grid = $("#Grid").data("kendoGrid");

    // WebAPI needs the ID of the entity to be part of the URL e.g. PUT /api/Product/80
    grid.dataSource.transport.options.update.url = function(data) {
        return "api/Product/" + data.Id;
    }

    // WebAPI needs the ID of the entity to be part of the URL e.g. DELETE /api/Product/80
    grid.dataSource.transport.options.destroy.url = function(data) {
        return "api/Product/" + data.Id;
    }
});

</script>